
<h3>MySecondComponent</h3>

<div>
    <h2>This is my second component</h2>
    
</div>
<div>
    CurrentCounterValue in MySecondComponent is @CurrentCounterValue
</div>

@code {
    public int CurrentCounterValue = 41;
}
