@page "/counter"

<h3>Counter</h3>

<p>The counter value is @currentCount</p>
<button class="btn btn-primary" @onclick=IncrementCounter>Increment Counter</button>

@code {
    public int currentCount { get; set; }

    private void IncrementCounter()
    {
        currentCount++;
    }
}
